#main-nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

#main-nav ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

#main-nav ul .items {
    display: inline-block;
}

#main-nav ul .items a {
    color: #444;
}

#main-nav ul .items a:hover {
    color: greenyellow;
}
